.menu{
    text-align: center;
    font-weight: 400;
}

img{
    width: 820px;
}

.a{
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.a:hover{
    text-decoration: underline;
    color:  black;
}

nav{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    text-align: center;
}

.bottom-icon-dx{
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 4vh;
    right: 4vh;
    z-index: 1;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}


footer{
    height: 15h;
    background-color: rgb(0, 0, 0);
    color: white;
}

.contatti{
    font-size: 0.6em;
}

video{
    width: 100%;
}

/* carousel */
.carousel {
    background: #0000;

}

.carousel-cell {
    margin-right: 20px;
    z-index: 1;
}


.carousel-cell img {
    width: 100vh;
}


.carousel-control-next{
    color: red;
}

.navbar-light .navbar-nav .nav-link{
    padding-top: 5%;
    text-align: left;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
}


